examples/i3x-mock-demo.json
[
    {
        "id": "tab-mock",
        "type": "tab",
        "label": "i3X Mock Demo",
        "disabled": false,
        "info": "End-to-end demo against the bundled i3X reference mock server (service `i3x-mock`).\n\n- **read temp/speed** – inject to read current sensor values\n- **browse objects** – inject to list the sample model\n- **subscribe** – live SSE stream of temperature + tank level\n\nOpen the i3X Mock server config to see the capability banner; open the browse node to try the namespace/type pickers."
    },
    {
        "id": "srv-mock",
        "type": "i3x-server",
        "name": "i3X Mock",
        "baseUrl": "http://i3x-mock:8080",
        "apiVersion": "",
        "authType": "none",
        "timeout": 10000
    },
    {
        "id": "inject-read",
        "type": "inject",
        "z": "tab-mock",
        "name": "read temp + speed",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 80,
        "wires": [["read-1"]]
    },
    {
        "id": "read-1",
        "type": "i3x-read",
        "z": "tab-mock",
        "name": "",
        "server": "srv-mock",
        "elementIds": "sensor-temp-1, sensor-speed-1",
        "maxDepth": 1,
        "x": 390,
        "y": 80,
        "wires": [["debug-read"]]
    },
    {
        "id": "debug-read",
        "type": "debug",
        "z": "tab-mock",
        "name": "current values",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "inject-browse",
        "type": "inject",
        "z": "tab-mock",
        "name": "browse objects",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 160,
        "wires": [["browse-1"]]
    },
    {
        "id": "browse-1",
        "type": "i3x-browse",
        "z": "tab-mock",
        "name": "",
        "server": "srv-mock",
        "browseTarget": "objects",
        "elementId": "",
        "typeId": "",
        "namespaceUri": "",
        "includeMetadata": true,
        "relationshipType": "",
        "x": 390,
        "y": 160,
        "wires": [["debug-browse"]]
    },
    {
        "id": "debug-browse",
        "type": "debug",
        "z": "tab-mock",
        "name": "objects",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 160,
        "wires": []
    },
    {
        "id": "sub-1",
        "type": "i3x-subscribe",
        "z": "tab-mock",
        "name": "temp + level (SSE)",
        "server": "srv-mock",
        "elementIds": "sensor-temp-1, sensor-level-1",
        "mode": "sse",
        "pollingInterval": 5000,
        "maxDepth": 1,
        "x": 170,
        "y": 260,
        "wires": [["debug-sub"]]
    },
    {
        "id": "debug-sub",
        "type": "debug",
        "z": "tab-mock",
        "name": "live updates",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 260,
        "wires": []
    }
]
